/* General Styling */

* {
  box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.2em;
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5em;
}

/* navbar */
.navbar-fixed-top {
    top: -70px;
    opacity: 0;
}

.nav {

    border: none;
}

.nav a {
    color: white;
    font-weight: 100;
}

.intro {
    height: 100vh;
    background: rgb(245, 225, 225);
}

/* intro-bg styling */
.padding-bottom-medium {
    padding-bottom: 40px;
}
